


<h2 class="w3-center w3-panel">Pedidos recentes</h2>
<div class="w3-panel w3-card w3-display-container">

  <div class="w3-padding-large w3-border-0">
    <input id="btn-show-all-children" type="button" value="Expandir tudo">
    <input id="btn-hide-all-children" type="button" value="Encolher tudo">
  </div>
  <table id="example" class="display w3-mobile " cellspacing="0" width="100%">
    <thead>
    <tr>
      <th>Id do pedido</th>
      <th>Cliente</th>
      <th>Data do pedido</th>
      <th>Hora pedido</th>
      <th>Status</th>
      <th>Total pedido</th>
      <th class="none"><h3>Produtos</h3></th>
      <th class="none"></th>
    </tr>
    </thead>
    <tbody>
    <% Pedido.all.order('id desc').each do |pedido| %>
      <tr>
        <td><%= pedido.id %></td>
        <td><%= pedido.cliente.email %></td>
        <td><%= pedido.created_at.strftime("%m/%d/%Y") %></td>
        <td><%= pedido.created_at.strftime("%T") %></td>
        <td>
          <span class="status_tag <%= pedido.status_pedido %>"><%= pedido.status_pedido %></span>
        </td>
        <td class="col col-id_do_pedido"><%= number_to_currency pedido.total_pedido %></td>
        <td>
          <ul>
            <% pedido.item_pedidos.each do |item_pedido| %>
              <li><h6><%= item_pedido.produto.nome_produto %></h6>
                <p><b>Acompanhamentos:</b></p>
                <ul>
                  <li>
                    teste
                  </li>
                </ul>
              </li>
            <% end %>
          </ul>
        </td>
        <td>
          <div class="w3-mobile ">
            <button onclick="document.getElementById('preparar').style.display='block'" class="w3-button w3-khaki">Ir para preparo
            </button>
            <button onclick="document.getElementById('confirmar').style.display='block'" class="w3-button w3-green">Concluir pedido
            </button>
            <button onclick="document.getElementById('cancelar').style.display='block'" class="w3-button w3-red">Cancelar pedido
            </button>
          </div>
        </td>
      </tr>
      <%= render 'admin/pedidos/modal_cancelar', pedido: pedido %>
      <%= render 'admin/pedidos/modal_confirmar', pedido: pedido %>
      <%= render 'admin/pedidos/modal_preparar', pedido: pedido %>
    <% end %>

    </tbody>
  </table>

</div>


