<div class="buttons">
  <input id="btn-show-all-children" type="button" value="Expand All">
  <input id="btn-hide-all-children" type="button" value="Enconlher tudo">
</div>

<div class="container" style="padding: 0 10px">
  <table id="example" class="display" cellspacing="0" width="100%">
      <thead>
      <tr>
        <th>Id do pedido</th>
        <th>Cliente</th>
        <th>Data do pedido</th>
        <th>Hora pedido</th>
        <th>Status</th>
        <th>Total pedido</th>
        <th class="none">Produtos</th>
        <th class="none">Acompanhamentos</th>
        <th class="none">Ações</th>
      </tr>
      </thead>
      <tfoot>
      <tr>
        <th>Id do pedido</th>
        <th>Cliente</th>
        <th>Data do pedido</th>
        <th>Hora pedido</th>
        <th>Status</th>
        <th>Total pedido</th>
        <th class="none">Produtos</th>
        <th class="none">Acompanhamentos</th>
        <th class="none">Ações</th>
      </tr>
      </tfoot>
      <tbody>
      <% Pedido.all.order('id desc').each do |pedido| %>
        <tr>
          <td><%= pedido.id %></td>
          <td><%= pedido.cliente.email %></td>
          <td><%= pedido.created_at.strftime("%m/%d/%Y") %></td>
          <td><%= pedido.created_at.strftime("%T") %></td>
          <td>
            <span class="status_tag <%= pedido.status_pedido %>"><%= pedido.status_pedido %></span>
          </td>
          <td class="col col-id_do_pedido"><%= number_to_currency pedido.total_pedido %></td>
          <td>
            <ul>
              <% pedido.item_pedidos.each do |item_pedido| %>
                <li><%= item_pedido.produto.nome_produto %></li>
              <% end %>
            </ul>
          </td>
          <td>$320,800</td>
          <td>
            <input type="button" value="Expand All">
            <input class="bnt btn-danger" type="button" value="Enconlher tudo">
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

</div>




