<div class="buttons">
  <input id="btn-show-all-children" type="button" value="Expandir tudo">
  <input id="btn-hide-all-children" type="button" value="Encolher tudo">
</div>

<div class="container" style="padding: 0 10px">
  <table id="example" class="display " cellspacing="0" width="100%">
    <thead>
    <tr>
      <th>Id do pedido</th>
      <th>Cliente</th>
      <th>Data do pedido</th>
      <th>Hora pedido</th>
      <th>Status</th>
      <th>Total pedido</th>
      <th class="none">Produtos</th>
      <th class="none">Acompanhamentos</th>
      <th class="none">Motivo do cancelamento:</th>
      <th class="none"></th>
    </tr>
    </thead>

    <tbody>
    <% Pedido.all.order('id desc').each do |pedido| %>
      <tr>
        <td><%= pedido.id %></td>
        <td><%= pedido.cliente.email %></td>
        <td><%= pedido.created_at.strftime("%m/%d/%Y") %></td>
        <td><%= pedido.created_at.strftime("%T") %></td>
        <td>
          <span class="status_tag <%= pedido.status_pedido %>"><%= pedido.status_pedido %></span>
        </td>
        <td class="col col-id_do_pedido"><%= number_to_currency pedido.total_pedido %></td>
        <td>
          <ul>
            <% pedido.item_pedidos.each do |item_pedido| %>
              <li><%= item_pedido.produto.nome_produto %></li>
            <% end %>
          </ul>
        </td>
        <td>$320,800</td>
        <td>$320,800</td>
        <td>
          <div class="container">
            <div class="row">
              <div class="w3-display-container w3-mobile">
                <button onclick="document.getElementById('preparar').style.display='block'" class="w3-button w3-deep-orange">Ir para preparo
                </button>
                <button onclick="document.getElementById('confirmar').style.display='block'" class="w3-button w3-green">Concluir pedido
                </button>
                <button onclick="document.getElementById('confirmar').style.display='block'" class="w3-button w3-red">Cancelar pedido
                </button>
              </div>


            </div>
          </div>
        </td>
      </tr>
      <%= render 'admin/pedidos/modal_cancelar', pedido: pedido %>
      <%= render 'admin/pedidos/modal_confirmar', pedido: pedido %>
      <%= render 'admin/pedidos/modal_preparar', pedido: pedido %>
    <% end %>
    </tbody>
  </table>
</div>




