<div class="buttons">
  <input id="btn-show-all-children" type="button" value="Expandir tudo">
  <input id="btn-hide-all-children" type="button" value="Encolher tudo">
</div>

<div class="container" style="padding: 0 10px">
  <table id="example" class="display" cellspacing="0" width="100%">
    <thead>
    <tr>
      <th>Id do pedido</th>
      <th>Cliente</th>
      <th>Data do pedido</th>
      <th>Hora pedido</th>
      <th>Status</th>
      <th>Total pedido</th>
      <th class="none">Produtos</th>
      <th class="none">Acompanhamentos</th>
      <th class="none">Motivo do cancelamento:</th>
      <th class="none">Ações</th>
    </tr>
    </thead>

    <tbody>
    <% Pedido.all.order('id desc').each do |pedido| %>
      <tr>
        <td><%= pedido.id %></td>
        <td><%= pedido.cliente.email %></td>
        <td><%= pedido.created_at.strftime("%m/%d/%Y") %></td>
        <td><%= pedido.created_at.strftime("%T") %></td>
        <td>
          <span class="status_tag <%= pedido.status_pedido %>"><%= pedido.status_pedido %></span>
        </td>
        <td class="col col-id_do_pedido"><%= number_to_currency pedido.total_pedido %></td>
        <td>
          <ul>
            <% pedido.item_pedidos.each do |item_pedido| %>
              <li><%= item_pedido.produto.nome_produto %></li>
            <% end %>
          </ul>
        </td>
        <td>$320,800</td>
        <td>$320,800</td>
        <td>
          <div class="container">
            <div class="row">
              <%= form_with(model: pedido, local: true) do |form| %>
                <%= form.hidden_field :status_pedido, value: "Pedido em andamento" %>
                <%= button_tag "Ir para preparo" %>
              <% end %>
              <%= form_with(model: pedido, local: true) do |form| %>
                <%= form.hidden_field :status_pedido, value: "Pedido concluido" %>
                <%= button_tag "Concluir pedido" %>
              <% end %>
              <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black">Open
                Modal
              </button>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>





<div id="id01" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">


    <form class="w3-container" action="/action_page.php">
      <div class="w3-section">
        <label><b>Motivo do cancelamento</b></label>
        <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Username" name="usrname" required>

      </div>

      <div class="w3-container w3-border-top w3-padding-16">
        <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-red">Cancelar</button>
        <button class="w3-button w3-green w3-right" type="submit">Confirmar</button>
      </div>
    </form>

  </div>
</div>