<%= form_for :carrinho, url: carrinho_index_path do |form| %>
  <div id="all">
    <div id="content">
      <div class="container">
        <div class="col-md-10 col-md-push-1">
          <div class="row" id="productMain">
            <div class="col-sm-6">
              <div id="mainImage" class="text-center">
                <% if @produto.image.attached? %>
                  <%= image_tag @produto.image, class: "img-fluid rounded mx-auto d-block" %>
                <% end %>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="box">
                <div class="container-fluid">
                  <h2 class="text-center"><%= @produto.nome_produto %></h2>
                  <div class="goToDescription"><a href="#details" class="scroll-to">Ver descrição do produto </a></div>
                  <span class="lead  ">R$ <%= @produto.preco_produto %></span>
                </div>
                <hr>
                <div class="container-fluid">
                  <p><b style="font-size: small" class="font-weight-bold">Nome do produto: </b><%= @produto.nome_produto %></p>
                  <p><b style="font-size: small" class="font-weight-bold">Disponibilidade : </b><span class="text-success">Disponivel</span></p>
                </div>
                <hr>
                <div class="container-fluid">
                  <p class="text-large">Acompanhamentos</p><br>
                  <%= hidden_field_tag 'item[produto_id]', @produto.id %>
                  <div class="form-group">
                    <%= collection_check_boxes(:item, :acompanhamento_id, @acompanhamento.all, :id, :nome_acompanhamento) do |b| %>
                      <div class="form-check">
                        <%= b.label class: "form-check-label", for: b.object.id do %>
                          <%= b.check_box class: "form-check-input", id: b.object.id %>
                          <%= b.text %>
                          (<b> + </b><span id=preco_acompanhamento><%= b.object.preco_acompanhamento %></span>)
                        <% end %>
                      </div>
                    <% end %>
                  </div>

                </div>
                <hr>
                <div class="text-center">
                  <h3 class="">Total:</h3>
                  <h2 id="valorTotal"> R$: </h2>
                  <%= hidden_field_tag 'valor_total_item' %>
                </div>
                <div class="container-fluid">
                  <div class="actions text-center">
                    <%= form.button :submit, :class => "btn btn-success" do %>
                      <i class="fa fa-shopping-cart"></i> Add to cart
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="box" id="details">
            <p>
            <h4>Descrição do Produto</h4>
            <blockquote>
              <p><em>Define style this season with Armani's new range of trendy tops, crafted with intricate details.
                Create a chic statement look by teaming this lace number with skinny jeans and pumps.</em>
              </p>
            </blockquote>
            <h4>Acompanhamentos</h4>
            <ul>
              <% @acompanhamento.each do |acompanhamento| %>
                <li><%= acompanhamento.nome_acompanhamento %></li>
              <% end %>
            </ul>
            <hr>
          </div>
        </div>
        <!-- /.col-md-9 -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /#content -->
  </div>
<% end %>
<script type="text/javascript" charset="utf-8">

    $(function () {
        let valorTotal = <%= @produto.preco_produto %>;
        let preco_acompanhamento = parseFloat($("#preco_acompanhamento").text());
        $("#valorTotal").text("R$: " + valorTotal );
        $("#valor_total_item").val(valorTotal);
        $('.form-group input[type=checkbox]').click(function () {
            if ($(this).is(':checked')) {

                valorTotal = valorTotal + preco_acompanhamento ;
                $("#valorTotal").text("R$: " + valorTotal);
                $("#valor_total_item").val(valorTotal);
            }
            else {
                valorTotal = valorTotal - preco_acompanhamento ;
                $("#valorTotal").text("R$: " + valorTotal);
                $("#valor_total_item").val(valorTotal);
            }
        });
    });
</script>