<%= form_with(model: pedido, local: true) do |form| %>
  <% if pedido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pedido.errors.count, "error") %> prohibited this pedido from being saved:</h2>

      <ul>
      <% pedido.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :status_pedido %>
    <%= form.text_field :status_pedido %>
  </div>

  <div class="field">
    <%= form.label :total_pedido %>
    <%= form.text_field :total_pedido %>
  </div>

  <div class="field">
    <%= form.label :cliente_id %>
    <%# form.text_field :cliente_id %>
    <%= collection_select(:pedido, :cliente_id, Cliente.all, :id, :email) %>
  </div>

  <%= form.fields_for :item_pedidos do |item_pedidos_form| %>
    <div class="field">
      <%= item_pedidos_form.label :total_item_pedido %>
      <%= item_pedidos_form.number_field :total_item_pedido %>
    </div>

    <div class="field">
      <%= item_pedidos_form.label :produto_id %>
      <%= item_pedidos_form.number_field :produto_id %>
    </div>

    <!-- Form Item Acompanhamento -->
    <%= item_pedidos_form.fields_for :item_acompanhamentos do |item_acompanhamento_form| %>
      <div class="field">
        <%= item_acompanhamento_form.label :preco_item_acompanhamento %>
        <%= item_acompanhamento_form.number_field :preco_item_acompanhamento %>
      </div>

      <div class="field">
        <%= item_acompanhamento_form.label :acompanhamento_id %>
        <%= item_acompanhamento_form.number_field :acompanhamento_id %>
      </div>

    <% end %>
    <!-- /@acompanhamentos-->
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
